:root {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #ffe4ec;
  /* màu hồng nhạt */
  color: #343a40;
}

body,
html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.product-card {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  transition: box-shadow 0.3s;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #218838;
}

.cart {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 1rem 0;
}

.checkout-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
}